section {
  @include margin(30px, 10px, 30px, 10px);
  @include padding(0px, 10px, 0px, 10px);
}

.section-search {
  width: 100%;
  h2 {
    @include margin(20px, 0px, 20px, 0px);
  }
  .search--container {
    @extend %flex-space-between;
    @extend %flex-wrap;
    @media (max-width: $breakpoint-medium-devices) {
      justify-content: center;
    }
    &__filters {
      @media (max-width: $breakpoint-extra-small-devices) {
        display: flex;
      }
    }
    & > * {
      @media (max-width: $breakpoint-medium-devices) {
        margin: 20px 0px;
      }
    }
    label {
      color: $secondary-color;
    }
    button {
      @media (max-width: $breakpoint-small-devices) {
        width: 100%;
      }
    }
  }
}

#input__search {
  @include padding(5px, 30px, 5px, 45px);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  width: 100%;
  max-width: 500px;
  font-size: 25px;
  @media (max-width: $breakpoint-medium-devices) {
    max-width: none;
  }
}

.sort-container {
  @media (min-width: $breakpoint-medium-devices) {
    display: flex;
  }
}

.search--container__input,
#input__search {
  @media (max-width: $breakpoint-medium-devices) {
    width: 100%;
  }
}

.fa-search {
  font-size: 20px;
  position: relative;
  left: 15px;
  top: 30px;
}

.results--container {
  @extend %flex-wrap;
  justify-content: center;
  .img {
    &__comic {
      max-height: 270px;
    }
    &__character {
      height: 178px;
    }
  }
}

.results--title__container {
  max-width: 1000px;
  @include margin(20px, 10px, 20px, 10px);
  p {
    @include padding(15px, 0px, 15px, 0px);
    color: $secondary-color;
    font-weight: 700;
  }
}

.section-pages {
  @include margin(80px, 0px, 80px, 0px);

  button {
    @include margin(0px, 10px, 0px, 10px);
    i {
      font-size: 20px;
    }
  }
}

.section-comics,
.section-characters {
  width: 100%;
  article {
    display: flex;
    @include margin(50px, 10px, 50px, 10px);
    @media (max-width: $breakpoint-small-devices) {
      flex-direction: column;
      max-width: 80%;
    }

    img {
      max-width: 350px;
      @include margin(0px, 50px, 0px, 0px);
    }

    .info--container__comic,
    .info--container__character {
      max-width: 550px;
    }

    .info--container__comic > *,
    .info--container__character > * {
      @include margin(10px, 0px, 10px, 0px);
    }
  }
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}
