@import "tipography.scss";
@import "colors.scss";
@import "../abstracts/mixins";

* {
  margin: 0;
  box-sizing: border-box;
}

.dark-mode {
  @include theme-colors($dark-mode: true);
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-family: $titles-font;
}

p {
  font-family: $text-font;
}
